{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 100,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cn", "cva", "clsx", "twMerge"],
    "tailwindStylesheet": "app/index.css"
}
